
.files-area{
    color: black;
}



input[type="file"] {
    display: none;
}

.label-file{
    width: 100%;
    display: flex;
    background-color: #f1f2f7;
    padding: 10px 10px 10px 10px;
    border-radius: 10px;
}

.label-file .text-first{
    margin-left: 15px;
}
.label-file .text-filelimit {
 display: block;
 color: #afb2c5;
}
.label-file .browse-file{
    background-color: white;
    padding: 10px 10px 10px 10px;
    border-radius: 7px;
    cursor: pointer;
    margin-left: 500px;
    
}

.label-file .cloud-img{
  opacity: 0.4;
  margin-top: 10px;
  margin-left: 3px;
  
}


.button-tittle{
    color: black;
    margin-left: 50px;
    padding-top: 30px;
}

.button-enriquecer{
    margin-left: 50px;
    border-radius: 10px;
    background-color: white;
}